body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 80px 80px minmax(0, 1fr) 80px;
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
    width: 95vw;
    height: 95vh;
    gap: .5em;
}

form {
    display:inline;
    margin:0;
    padding:0;
}

.header, .nav, .content, .footer {
    background-color: steelblue;
    font-size: 20px;
    padding: 20px;
    border: 5px solid skyblue;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
    grid-template-rows: 1fr minmax(0, 9fr);
    grid-template-areas: 
        "settings settings settings settings"
        "console course course stats"
        "console . class submit";
    gap: 1em;
    height: 1fr;
}

.settings, .console, .course, .stats, .class, .submit {
    background-color: darksalmon;
    font-size: 20px;
    padding: 20px;
    border: 5px solid salmon;
}


.settings {
    grid-area: settings;
}

.console {
    grid-area: console;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    justify-content: space-around;
    gap: 1em;
    height: 1fr;
}

.console-select {
    background-color: teal;
    font-size: 20px;
    padding: 10px;
    border: 5px solid cyan;
    height: 1fr;
}

.course {
    grid-area: course;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
}

.thumbnail-select {
    background-color: yellowgreen;
    font-size: 20px;
    padding: 10px;
    border: 5px solid forestgreen;
}

.class {
    grid-area: class;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.class-select {
    background-color: palegoldenrod;
    font-size: 20px;
    padding: 10px;
    border: 5px solid gold;
}

.stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 3fr 1fr 3fr 1fr;
    gap: 1em;
}

div[class*="position"], div[class*="points"] {
    background-color: orange;
    font-size: 20px;
    padding: 10px;
    border: 5px solid orangered;
}

div[class*="position"] {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: auto;
    gap: 1em;
}

div[class*="points"] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
}

div[class*="position-select"],div[class*="points-select"] {
    background-color: pink;
    font-size: 20px;
    padding: 10px;
    border: 5px solid magenta;
}

.submit {
    grid-area: submit;
}

.footer {
    grid-area: footer;
}