body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 120px 50px minmax(0, 1fr) 80px;
    grid-template-areas: 
        "header"
        "title"
        "content"
        "footer";
    width: 95vw;
    height: 95vh;
    gap: .5em;
}

input[type=radio] {
    display: none;
}

form {
    display:inline;
    margin:0;
    padding:0;
}

.header, .title, .content, .footer {
    background-color: steelblue;
    font-size: 20px;
    padding: 20px;
    border: 5px solid skyblue;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-auto-rows: minmax(0, 1fr);
    grid-template-areas: 
    "logo nav login";
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.logo, .nav, .login {
    background-color: gray;
    font-size: 20px;
    border: 5px solid darkgray;
}

.logo {
    grid-area: logo;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav ul {
    background-color: burlywood;
    padding: 5px;
    font-size: 20px;
    border: 5px solid brown;
}

.login {
    grid-area: login;
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
}

.login [class$="-icon"] {
    background-color: olivedrab;
    font-size: 20px;
    padding: 10px;
    border: 5px solid olive;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) repeat(2, minmax(0, 2fr)) minmax(0, 1fr);
    grid-template-rows: 1fr minmax(0, 9fr) 1fr;
    grid-template-areas: 
        "console build class date settings"
        "console course course stats stats"
        "console course course submit submit";
    gap: 1em;
    height: 1fr;
}

.build, .date, .console, .course, .stats, .class, .submit, .session, .settings{
    background-color: darksalmon;
    font-size: 20px;
    padding: .25em;
    border: 5px solid salmon;
}

.console {
    grid-area: console;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,minmax(0, 1fr));
    justify-content: space-around;
    gap: .25em;
    height: 1fr;
}

.console-select {
    padding: 0px;
    height: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-select img {
    object-fit: contain;
    width: 90%;
    height: 100%;
    opacity: 50%;
    display: block;

    &:hover {
        opacity: 100%;
        transition: opacity 250ms;
    }
}

.console input[type=radio]:checked + label > img {
    border: 5px solid gold;
}

.build {
    grid-area: build;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.build > div[class$="-select"] {
    background-color: darkseagreen;
    font-size: 20px;
    padding: 10px;
    border: 5px solid seagreen;
}

.class {
    grid-area: class;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.class-select {
    background-color: palegoldenrod;
    font-size: 20px;
    padding: 10px;
    border: 5px solid gold;
}

.date {
    grid-area: date;
}

.course {
    grid-area: course;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 1em;
}

.thumbnail-select {
    background-color: yellowgreen;
    font-size: 20px;
    padding: 10px;
    border: 5px solid forestgreen;
}

.stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 2fr) minmax(0, 1fr));
    gap: 1em;
}

div[class*="position"], div[class*="points"] {
    background-color: orange;
    font-size: 20px;
    padding: 10px;
    border: 5px solid orangered;
}

div[class*="position"] {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    gap: 1em;
}

div[class*="points"] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    gap: 1em;
}

div[class*="position-select"],div[class*="points-select"] {
    background-color: pink;
    font-size: 20px;
    padding: 0;
    border: 5px solid magenta;
}

.submit {
    grid-area: submit;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 1fr 1fr;
    grid-template-areas: 
    "copyright suggestions coffee github";
    gap: 1em;
}

.copyright, .suggestions, .coffee, .github {
    background-color: aquamarine;
    font-size: 20px;
    border: 5px solid aqua;
}